<div class="row">
    <div class="col-xs-12">
        <div class="flex-justify-end">
            <button mat-button color="primary" style="height:42px" (click)="save()">Save</button>
            <button mat-button color="warn" style="height:42px" (click)="load()">Refresh</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row" *ngIf="!loading; else loadProgress"></div>
        <ng-template #loadProgress>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>
        <div class="row">
            <mat-table [dataSource]="nationalBuy.dataSource" #nationalBuySort="matSort" matSort
                style="height: 600px;overflow: auto;margin-bottom: 20px;" class="mat-elevation-z8">

                <ng-container cdkColumnDef="toolbar" sticky>
                    <mat-header-cell *cdkHeaderCellDef width-120 class="center">
                        <div style="width: 100%; height: 42px!important;">
                            <mat-form-field>
                                <input matInput #gridFilter (keyup)="nationalBuy?.filter($event)" placeholder="filter">
                                <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="gridFilter.value=''; nationalBuy?.filter($event)">
                                    <mat-icon color="warn" *ngIf="gridFilter.value !== ''">close</mat-icon>
                                    <mat-icon *ngIf="gridFilter.value === ''">search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </mat-header-cell>
                    <mat-cell *cdkCellDef="let row" width-120 [class.soft-deleted]="!row.isActive"
                        [class.selected]="nationalBuy.isSelected(row)">
                        <div>
                            <button mat-icon-button (click)="onEditBuy(row)" [disabled]="!row.isActive" color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="nationalBuy.softDeleteToggle(row, true)">
                                <mat-icon color="warn" *ngIf="row.isActive">delete_forever</mat-icon>
                                <mat-icon color="primary" *ngIf="!row.isActive">restore_from_trash</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Name" sticky>
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">Name</mat-header-cell>
                    <mat-cell [class.soft-deleted]="!row.isActive" [class.selected]="nationalBuy.isSelected(row)" width-160
                        *cdkCellDef="let row">
                        {{row.name}}
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="OrderBudget">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">
                        <div class="mat-split-header">
                            <div class="mat-split-header-line">Order</div>
                            <div class="mat-split-header-line">Budget</div>
                        </div>
                    </mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.orderBudgetName}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Client">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">
                        <div class="mat-split-header">
                            <div class="mat-split-header-line">Client</div>
                            <div class="mat-split-header-line">Name</div>
                        </div>
                    </mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.clientName}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Brand">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">Brand</mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.brand}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Demo">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">Demo</mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.demoName}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Buyer">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">Buyer</mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.buyerName}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="Agency">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">Agency</mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">{{row.agencyName}}</mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="DateRegistered">
                    <mat-header-cell width-120 *cdkHeaderCellDef mat-sort-header class="center">
                        <div class="mat-split-header">
                            <div class="mat-split-header-line">Date</div>
                            <div class="mat-split-header-line">Registered</div>
                        </div>
                    </mat-header-cell>
                    <mat-cell width-120 *cdkCellDef="let row" class="center">{{row.dateRegistered | date: 'shortDate'}}
                    </mat-cell>
                </ng-container>
                <ng-container cdkColumnDef="FlightQuarterYear">
                    <mat-header-cell width-160 *cdkHeaderCellDef mat-sort-header class="center">
                        <div class="mat-split-header">
                            <div class="mat-split-header-line">Flight</div>
                            <div class="mat-split-header-line">Quarter/Year</div>
                        </div>
                    </mat-header-cell>
                    <mat-cell width-160 *cdkCellDef="let row" class="center">
                        {{"Q" + row.startFlightQuarter + "-" + row.startFlightYear + " To " + "Q" + row.endFlightQuarter + "-" + row.endFlightYear}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *cdkHeaderRowDef="nationalBuy.columns; sticky: true"></mat-header-row>
                <mat-row *cdkRowDef="let row; columns: nationalBuy.columns" (click)="nationalBuy.select(row)"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>

