<icon-dynamic-form-example></icon-dynamic-form-example>

<server-side-grid 
    [columns]='["seqNo", "description", "duration"]'
    [pageSize]='[3, 5, 10]'
    [loadDataCallback]="apiService.findLessons"
>
</server-side-grid>
<div class="row">    
    <div class="xs-col-12">
        <mat-tab-group [selectedIndex]="selectedTab">

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="mat-tab-label-content" (click)="selectedTab=0">
                        <mat-icon>layers</mat-icon>&nbsp;National Buy
                    </div>                    
                </ng-template>
                <icon-buy-grid (editBuy)="editBuy = $event; selectedTab = 1"></icon-buy-grid>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="mat-tab-label-content" (click)="selectedTab=1">
                        <mat-icon>edit</mat-icon>&nbsp;Create / Edit National Buy
                    </div>                    
                </ng-template>
                <icon-buy-edit [editBuy]="editBuy"></icon-buy-edit>                
            </mat-tab>

        </mat-tab-group>
    </div>
</div>