<form [formGroup]="form" (ngSubmit)="save()">

    <mat-form-field>
      <input matInput placeholder="firstName" formControlName="firstName" type="text" required>
      <mat-error>field required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="lastName" formControlName="lastName" type="text" required>
      <mat-error>field required</mat-error>
    </mat-form-field>

    <div formGroupName="address">
        <h3>Address</h3>
        <mat-form-field>
          <input matInput placeholder="street" formControlName="street" type="text" required>
          <mat-error>field required</mat-error>
        </mat-form-field>        
        <mat-form-field>
          <input matInput placeholder="city" formControlName="city" type="text" required>
          <mat-error>field required</mat-error>
        </mat-form-field>        
        <mat-form-field>
          <input matInput placeholder="state" formControlName="state" type="text" required>
          <mat-error>field required</mat-error>
        </mat-form-field>        
        <mat-form-field>
          <input matInput placeholder="zip" formControlName="zip" type="number" required>
          <mat-error>field required</mat-error>
        </mat-form-field>        
    </div>        

    <div formArrayName="aliases">
        <h3>Aliases</h3> 
        <button mat-raised-button color="primary" (click)="addAlias()">add alias</button>
        <div *ngFor="let alias of aliases.controls; let i = index">
            <div [formGroupName]="i">
                <p>Alias:</p>
                <mat-form-field>
                  <input matInput placeholder="name" formControlName="name" type="text" required>
                  <mat-error>field required</mat-error>
                </mat-form-field>  
                <mat-form-field>
                  <input matInput placeholder="value" formControlName="value" type="text" required>
                  <mat-error>field required</mat-error>
                </mat-form-field>  
            </div>
        </div>
    </div>

    <p>
        <button mat-raised-button color="primary" (click)="updateProfile()">Update Profile</button>
    </p>          
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Save</button>
  
    <p>
        Value: {{ form.value | json }}
        Form status: {{form.status}}
    </p>

</form>