.grid-input{
    height: 30px;
    width: 99%;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    padding-right: 4px;
}

mat-cell > div {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    justify-content: center;
}