.inline{
    display: inline-flex;
    justify-content: space-between;
    line-height: 31px;
    padding-right: 0px!important; 
    padding-left: 0px!important; 
    margin-bottom: 0px!important;
}

.inline-left{
    line-height: 31px;
    padding-right: 0px!important; 
    padding-left: 0px!important; 
    margin-bottom: 0px!important;
}

.inline-left > label{
    padding-right: 10px;
    padding-left: 20px;
    white-space: nowrap;
}

.inline > label{
    padding-right: 10px;
    padding-left: 20px;
    white-space: nowrap;
}

.cell-separator{
    padding: 0px 2px;
}

.row-separator{
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px !important;
    padding-bottom: 6px;
}

.inline > label{
    min-width: 140px    
}

.inline-left > label{
    min-width: 140px    
}

.group-header{
    margin-left: 6px;
    margin-bottom: 15px;
}

// .mat-footer-row {
//     height: 48px;
// }
// .mat-row {
//     height: 42px;
// }

// .mat-expanded-row{
//     height:auto!important;
// }

// mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
//     padding-left: 5px; 
// }

// mat-hint {
//     color: #f44336!important;
// }

md-tab-data{
  opacity: 1;
  display: table;
  right: 0;
  left: initial;
  z-index: 20;
}

.center {
    justify-content: center;
}
